.RevisionGraph-open-btn {
  background: none;
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  margin-bottom: 25px;
  padding: 10px;
  width: 135px;
}

.RevisionGraph-legend {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 0;
  max-width: 100%;
  position: relative;
}

.RevisionGraph-legend-item {
  align-items: center;
  display: flex;
  gap: 10px;
}

.RevisionGraph-tag {
  height: 31px;
  position: relative;
  width: 91px;
}

.RevisionGraph-tag:after {
  background: #00c58e;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  content: 'current';
  height: 31px;
  left: 15px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  width: 75px;
}

.RevisionGraph-tag:before {
  content: "";
  right: 100%;
  position: absolute;
  width: 0;
  height: 0;
  left: 1px;
  border-top: 15px solid transparent;
  border-right: 15px solid #00c58e;
  border-bottom: 16px solid transparent;
}

.RevisionGraph-draft {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  background: #ffffff;
  color: #00c58e;
}

.RevisionGraph-revision {
  background: #00c58e;
  height: 27px;
  width: 27px;
  position: relative;
  color: white;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  font-size: 10pt;
}

.RevisionGraph-revision:before {
  position: absolute;
  content: '';
  width: 10px;
  background: #00c58e;
  height: 47px;
  top: -10px;
  left: 8px;
  z-index: -1;
}

.RevisionGraph-close-btn {
  color: gray;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  transition: 300ms ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.RevisionGraph-close-btn:hover {
  border-color: gray;
  border-radius: 50%;
}
