<div class="RevisionGraph-wrapper">
  <div class="RevisionGraph-Legend-wrapper">
    <button class="RevisionGraph-open-btn button--primary">Show Legend</button>
    <div class="RevisionGraph-legend">
      <div class="RevisionGraph-legend-item">
        <div class="RevisionGraph-tag"></div>
        <p><b>Default/Current: </b>The currently published version that users see when viewing the page.</p></div>
      <div class="RevisionGraph-legend-item">
        <div class="RevisionGraph-draft">[v-id]:[lang-code]</div>
        <p><b>Work in progress: </b>Edits that will be made public in the future.</p></div>
      <div class="RevisionGraph-legend-item">
        <div class="RevisionGraph-revision">id</div>
        <p><b>Revision: </b>Shows revisions.</p></div>
      <div class="RevisionGraph-close-btn">&#10005;</div>
    </div>
  </div>
  <div class="RevisionGraph-Content">
    <div id="graph-container">
      {{ drupal_settings }}
    </div>
  </div>
</div>
